    {% extends "main.html" %}

    {% block content %}
    
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Demo App</h1>
        <!---declare a variable-->
        {% with firstname="Aptech" %}

        {{firstname}}

        {% endwith %}


       <!--- Use of if tag in html -->
       {% comment %} <p> Hello,
        {% if name == "Aptech" %}
            {{name}}
        {% else %}
            {{name}}
        {% endif %}
        </p> {% endcomment %}


        <!-- for tag in html -->
        <ol>
        {% for i in data %}
         <li start="1"> {{i.course}}---- {{i.duration}}</li>
        {% endfor %}
        </ol>


        <table border=1>

            {% for i in data %}
             <tr>
                <td>{{ forloop.counter }}</td>
                <td>  {{i.course}}</td>
                <td>{{i.duration}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock content %}
       